<div id="container-navbar" class="container-navbar navbar">
    <div class="l-container-navbar">
        <span collapse-sidebar></span>
        <span id="navbar-search" class="navbar-search-input-icon l-mar-10">
            <i class="fa fa-search navbar-search-icon"></i>
            <input class="navbar-search" type="text" placeholder="Search ...">
        </span>
    </div>
    <div class="r-container-navbar">
        <!-- Fullscreen toggler -->
        <span full-screen-toggler></span>
        <!-- Log out -->
        <a class="btn btn-default btn-bordered" href="#" ng-click="logout()">
            <span class="fa fa-sign-out r-mar-5"></span>Log out
        </a>
    </div>
</div>