

<div id="container-messages" class="container-messages">
    <div class="page-alert alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Hello Miguel!</strong> Welcome to Royal Dashboard.
    </div>
</div>
<div id="container-content" class="container-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 no-pad">
                <div class="row">
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-info">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Active Campaigns</h3>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">27</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <!-- <a href="javascript:void(0);"> -->
                                <a href="#" ng-click="goToMissingDocuments()">
                                    <span class="pull-right">
                                                    All campaigns
                                                    <i class="fa fa-caret-right l-mar-5"></i>
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-warning">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Total Sales Made</h3>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">+</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="javascript:void(0);">
                                    <span class="pull-right">
                                                    All Sales
                                                    <i class="fa fa-caret-right l-mar-5"></i>
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-inverse">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Active Campaigns</h3>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">+</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="#" ng-click="goToClients()">
                                    <span class="pull-right">
                                                    All campaigns
                                                    <i class="fa fa-caret-right l-mar-5"></i>
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Second row -->
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-primary">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Royal Users</h3>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">25</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="#" ng-click="goToDocuments(1)">
                                    <span class="pull-right">
                                                    Using Royal
                                                    <i class="fa fa-caret-right l-mar-5"></i>
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-warning-light">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Royal Reach</h3>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">13</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="#" ng-click="goToDocuments(2)">
                                    <span class="pull-right">
                                                    Customers Served
                                                    <i class="fa fa-caret-right l-mar-5"></i>
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 no-pad">
                        <div class="widget bg-default">
                            <div class="widget-content">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h3>Average Sales Amount</h3>
                                    </div>
                                    <div class="col-md-2 to-right">
                                        <h2 class="bold">16</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-refer">
                                <a href="#" ng-click="goToDocuments(3)">
                                    <span class="pull-right">
                                                    Made Till Now
                                                    <i class="fa fa-caret-right l-mar-5"></i>
                                                </span>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-4 no-pad">
                <!-- Contacts -->
                <div class="panel mar-10">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <strong>Clients</strong>
                            <small> / Keep in contact</small>
                        </div>
                    </div>
                    <div class="panel-body panel-full">
                        <ul class="striped-list no-mb">
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Ronald C. Stevens
                                        <br/>
                                        <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        <span class="label social-facebook-color label-s">
                                                        <i class="fa fa-facebook"></i>
                                                    </span>
                                        <br/><i><small>Yesterday</small></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-fax fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Chanell W. Orcutt
                                        <br/>
                                        <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        <span class="label social-facebook-color label-s">
                                                        <i class="fa fa-facebook"></i>
                                                    </span>
                                        <br/><i><small>2 days ago</small></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Blake J. Gibson
                                        <br/>
                                        <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        <span class="label social-google-color label-s">
                                                        <i class="fa fa-google-plus"></i>
                                                    </span>
                                        <br/><i><small>last week</small></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-institution fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Laura E. Fagin
                                        <br/>
                                        <i class="fa fa-circle color-danger r-pad-5"></i><small>Offline</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        <span class="label social-twitter-color label-s">
                                                        <i class="fa fa-twitter"></i>
                                                    </span>
                                        <br/><i><small>22 oct</small></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-2 no-h-pad to-center text-shadow-inset-dark">
                                        <i class="fa fa-user-md fa-3x opacity-25"></i>
                                    </div>
                                    <div class="col-xs-7 l-pad-10">
                                        Bobby V. Becker
                                        <br/>
                                        <i class="fa fa-circle color-success r-pad-5"></i><small>Online</small>
                                    </div>
                                    <div class="col-xs-3 to-right">
                                        <span class="label social-linkedin-color label-s">
                                                        <i class="fa fa-linkedin"></i>
                                                    </span>
                                        <br/><i><small>11 dec</small></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-block  btn-success">
                                        View all my clients...
                                    </a>
                    </div>
                </div>
                <!-- / Contacts -->
            </div>

        </div>
    </div>

</div>

<!-- Include the container-footer -->
<div id="container-footer" class="container-footer">
    <div class="container-fluid">
        <div class="row">
            <component>container-footer</component>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                Xolvo LLC © 2016-2017
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 to-right">
                <i class="fa fa-code"></i>
                <span>Version 1.2.0</span>
            </div>
        </div>
    </div>
</div>