    <div class="single-container login-screen animated fadeInDown">
        <section class="sign-widget-title">
            <h1>Royal Dashboard</b></h1>
            <h4>Password Recovery Page</h4>
        </section>
        <section class="sign-widget">
            <header>
                <h3>Forgot password</h3>
            </header>
            <div class="body">
                <div class="mb-10">
                    Enter your email to receive information about how to reset your account.
                </div>
                <form method="get" action="index.html" class="no-margin">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <input type="email" 
                                       placeholder="Email" 
                                       class="form-control" 
                                       id="email">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <a class="btn btn-block btn-warning" href="#" ng-click="tryResetPassword()">
                            <span class="fa-icon-circle">
                                <i class="fa fa-unlock"></i>
                            </span>
                            <small class="l-mar-5">Reset password</small>
                        </a>
                    </div>
                </form>
            </div>
        </section>
    </div>